* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: #000;
    color: #fff;
}

.contenedor {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #111;
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-size: 24px;
    background-color: #222;
    color: #0a3871;
    border: 2px solid #0a3871;
    padding: 10px;
}

.texto::placeholder {
    color: #0a3871;
}

.texto:focus,
.texto:active {
    border-color: #f3f5fc;
    outline: none;
}

.terminos p {
    font-size: 14px;
    color: #aaa;
}

.botones .bt-encriptar,
.botones .bt-desencriptar,
.botones .bt-limpiar {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.bt-encriptar, .bt-desencriptar, .bt-limpiar {
    background-color: #0a3871;
    border: 2px solid #0a3871;
    border-radius: 12px;
    color: #fff;
}

.bt-encriptar:hover, .bt-desencriptar:hover, .bt-limpiar:hover {
    background-color: #f3f5fc;
    color: #0a3871;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left:60%;
    top:5%;
    background: #222;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;
}

.mencriptado h2 {
    width: 60%;
    font-size: 20px;
    color: #0a3871;
}

.mencriptado p {
    width: 80%;
    font-size: 14px;
    color: #aaa;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height:50%;
    top:15%;
}

